
/* Style the body */
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style-type: square;
}

li {
	padding-bottom: 10px;
	font-weight: 400;
}

ul.hobbies-sublist > li {
	padding-bottom: 3px;
}

a {
	text-decoration: none;
}

/* Style the header */
header {
	background-color: #0d7b67;
	padding: 20px;
	text-align: center;
	font-size: 35px;
	color: white;
}

.main h1 {
	color: #a3f9f9;
	font-size: 50px;
	/*font-family: 'Montserrat', sans-serif;*/
	text-transform: uppercase;
	letter-spacing: 20px;
	margin-bottom: 7px;
}

.main p {
	font-size: 18px;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

/* Style the sections */
.img-block {
	float: right;
	width: 30%;
	margin-right: 20px;
	padding: 0 20px;
}

.img-block img {
	width: 100%;
}

.description-block {
	width: 50%;
	padding-bottom: 20px;
}

.section-block {
	padding: 30px;
	background-color: #eee;
}

.section-block2 {
	padding: 30px;
	clear: both;
}

.section-block2#hobbies {
	padding-top: 1px;
}

.section-block h3 {
	color: #0d7b67;
}

h3 {
	color: #0d7b67;
	border-left-style: solid;
	border-left-width: thick;
    border-left-color: #c00ad6;
    padding-left: 20px;
} 

table {
	border-collapse: collapse;
	width: 100%;
	background-color: #fff;
	text-align: center;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 10px 25px;
}

/* Style the footer */
footer {
	background-color: #0d7b67;
	padding: 10px;
	text-align: center;
	color: white;
}

footer p, footer ul li {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 10px;
}

footer ul#inline-list li {
	display: inline;
	padding: 0 9px;
}

footer ul#inline-list li a {
	color: #a3f9f9;
	font-size: 8px;
}